div.PayPlansList#ListOver90 table{
    table-layout: auto;
    width: 3400px;
}

div.PayPlansList#DELETENEW table{
    background: red;
}
div.PayPlansList#DELETENEW {
    background: red;
}


div.PayPlansList table{
    table-layout: auto;
    width: 2000px;
}

div.PayPlansList td {
    text-align: left;
}

div.PayPlansList td{
	width: auto;
}

div.PayPlansList td.comments{
    width: 100%;
}